.site {
    padding: 24px;
    background-image : url('./work.jpg');    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 50vh;
      
  }

  .HeaderBtn{     
      cursor: pointer;
      font-weight: 500;
      width: 150px;
      margin-bottom: 8%;       
       
  }

  .description{
    color: white;   
    display: flex;
    align-items: center;
    top: 50%;  
  }