.header {
  background: url("../../assets/img/lg.png") no-repeat center/ cover;
  height: 500px;
}

.headerWrapper {
  width: 90%;
  max-width: 1200px;
  max-height: 500px;
  margin: 0 auto;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.headerContent {
  width: 50%;
  color: #fff;
  margin: 100px 0 20px 0 !important;
  :first-child {
    width: 80%;
  }
}

.headerBtn {
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .header {
    background: url("../../assets/img/sm.png") no-repeat center/ cover;
    height: 650px;
  }
  .headerContent {
    width: 100%;
    text-align: center;
    margin: 20px 0 20px 0 !important;
    :first-child {
      width: 100%;
    }
  }
  .headerWrapper {
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {
  .header {
    background: url("../../assets/img/xs.png") no-repeat center/ cover;
  }
  .headerContent {
    margin: 40px 0 20px 0 !important;
  }
}
