.footercta {
    width: 80%;
    height: auto;
    border: "solid";
    margin: 0;
    max-width: 90%;
    justify-content: space-evenly;
    background-position: center;
    margin: 10%;
    align-items: left;
 
   }
   .navBtn {
     font-size: 16px;
     font-weight: 500;
     cursor: pointer;
     margin-top: 18%;
   }
  
 
 .descriptioncta {
     color: rgb(10, 5, 5);
     
   
     font-size: 16px;
     font-weight: 500;
 }
 